h1 {
    color: #d0ddd7;
    text-align: center;
    
}

.post{
    background-color: #2f2504;
    width: 25rem;
    margin: 40px auto;
    justify-content: center;
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #d0ddd7;


    
}

.user{
    font-style: italic;
    text-align: center;

}

.content{
    text-align: center;
}

body{
    background-color: #594e36;
    
}

.input{
    display: flex;
    justify-content: space-between;
}

.btn{
    align-items: center;
    appearance: none;
    background-color: transparent;
    border-radius: 18px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #d0ddd7;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 35px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform,opacity;
    z-index: 0;
    border :1px solid #2f2504
  
}

.new-post{
    background-color: #d0ddd7;
    display: block;
    margin: auto;
    color: black;
    text-decoration: none;
}


  
  